@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark            : #000;
  --background-color-white: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb      : 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb  : 0, 0, 0;
  }
}

body {
  color           : var(--color-dark);
  background-color: var(--background-color-white);
}

ul li:last-child {
  border: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}